body{
	background-image: url("mailbox.jpg");
	background-repeat: no-repeat;
	background-size: 1500px 700px;
	background-attachment: scroll;

}


div#headline{
	text-align: center;
	height: 100px;
	font-size: 100px;
	color: #7f345a;
	font-family: Tahoma;
	border: 2px dashed green;
	border-width: 10px;
}

div#form_division {
	margin-right: 20px;
	float: right;

}

form{
	border: 5px solid #7f345a;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 10px;
	padding-top: 10px;
	height: 300px;
	width: 300px;
}