div{
	padding: 10px;
	border: 10px inset #555555;
	margin: auto;
	width: 300px;
	background-color: #aa00aa;
}

body{
	background-image: url("mailbox.jpg");
	background-repeat: no-repeat;
	background-size: 1500px 700px;
	background-attachment: scroll;

}

h1{
	text-align: center;
	background-color: #aa00aa;
}